@model PhysicianApplication.Models.DataToView

@{
    ViewBag.Title = "Edit";
}
    
<fieldset>
        <legend>DataFetchContext</legend>

        <p>
            <input type="submit" value="Create" />
        </p>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
